In [1]:
# Dependencies
import os 
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress 

#Reading in Files
cdc_df = pd.read_csv("Resource/VSRR_Provisional_Drug_Overdose_Death_Counts_2015_2021.csv")
care_df = pd.read_csv("Resource/Medicare_Opioid_Prescribing_Data_2013_2019.csv", low_memory = False)
caid_df = pd.read_csv("Resource/Medicaid_Opioid_Prescribing_data_2013_2019.csv", low_memory = False)

In [2]:
# Filtering Medcaid data for all plan types
caid_clean = caid_df.loc[caid_df["Plan_Type"]=="All"]

caid_clean

,Year,Geo_Lvl,Geo_Cd,Geo_Desc,Plan_Type,Tot_Opioid_Clms,Tot_Clms,Opioid_Prscrbng_Rate,Opioid_Prscrbng_Rate_5Y_Chg,Opioid_Prscrbng_Rate_1Y_Chg,LA_Tot_Opioid_Clms,LA_Opioid_Prscrbng_Rate,LA_Opioid_Prscrbng_Rate_5Y_Chg,LA_Opioid_Prscrbng_Rate_1Y_Chg
0,2019,National,NaN,National,All,21978286.0,677248025.0,3.25,-3.22,-0.44,3108845.0,14.15,6.67,4.62
3,2019,State,1.0,Alabama,All,224310.0,7230251.0,3.10,-3.23,-1.08,10308.0,4.60,0.16,0.48
6,2019,State,2.0,Alaska,All,65394.0,1434139.0,4.56,-3.33,-1.20,8268.0,12.64,0.88,-0.71
9,2019,State,4.0,Arizona,All,595206.0,14923326.0,3.99,-5.14,-0.75,44311.0,7.44,-2.79,-0.52
12,2019,State,5.0,Arkansas,All,216081.0,4999626.0,4.32,-3.12,-0.88,8129.0,3.76,-0.34,-1.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,2013,State,51.0,Virginia,All,730742.0,10508281.0,6.95,NaN,NaN,51828.0,7.09,NaN,NaN
1080,2013,State,53.0,Washington,All,620072.0,7032472.0,8.82,NaN,NaN,69150.0,11.15,NaN,NaN
1083,2013,State,54.0,West Virginia,All,401118.0,5794848.0,6.92,NaN,NaN,22227.0,5.54,NaN,NaN
1086,2013,State,55.0,Wisconsin,All,899000.0,10155576.0,8.85,NaN,NaN,120342.0,13.39,NaN,NaN
1089,2013,State,56.0,Wyoming,All,41202.0,529696.0,7.78,NaN,NaN,4230.0,10.27,NaN,NaN

In [3]:
# Filtering Medicaid Data by Breakout Type and Perscription Geographic Levels for National or State levels
care_clean = care_df.loc[(care_df["Breakout_Type"]=="Totals") & (care_df["Prscrbr_Geo_Lvl"]=="National") | (care_df["Prscrbr_Geo_Lvl"]=="State")]

care_clean

,Year,Prscrbr_Geo_Lvl,Prscrbr_Geo_Cd,Prscrbr_Geo_Desc,RUCA_Cd,Breakout_Type,Breakout,Tot_Prscrbrs,Tot_Opioid_Prscrbrs,Tot_Opioid_Clms,Tot_Clms,Opioid_Prscrbng_Rate,Opioid_Prscrbng_Rate_5Y_Chg,Opioid_Prscrbng_Rate_1Y_Chg,LA_Tot_Opioid_Clms,LA_Opioid_Prscrbng_Rate,LA_Opioid_Prscrbng_Rate_5Y_Chg,LA_Opioid_Prscrbng_Rate_1Y_Chg
0,2019,National,NaN,National,NaN,Totals,Overall,1239380.0,803549.0,66138200.0,1.501140e+09,4.41,-1.32,-0.27,7290510.0,11.02,-1.73,-0.77
3,2019,State,1.0,Alabama,NaN,Totals,Overall,15575.0,9739.0,1814583.0,2.800821e+07,6.48,-1.40,-0.42,138456.0,7.63,-2.13,-0.73
4,2019,State,2.0,Alaska,NaN,Totals,Overall,2847.0,1935.0,80311.0,1.639104e+06,4.90,-2.01,-0.90,13005.0,16.19,-3.73,-2.42
5,2019,State,4.0,Arizona,NaN,Totals,Overall,25876.0,16578.0,1359955.0,2.569376e+07,5.29,-1.79,-0.33,184250.0,13.55,-2.58,-1.25
6,2019,State,5.0,Arkansas,NaN,Totals,Overall,9700.0,7258.0,998319.0,1.789430e+07,5.58,-1.08,-0.32,76135.0,7.63,-1.69,-0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179793,2013,State,60.0,American Samoa,NaN,Rural/Urban,Urban,0.0,0.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179794,2013,State,66.0,Guam,NaN,Rural/Urban,Urban,0.0,0.0,0.0,0.000000e+00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
179795,2013,State,69.0,Northern Mariana Islands,NaN,Rural/Urban,Urban,0.0,0.0,0.0,0.000000e+00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
179796,2013,State,72.0,Puerto Rico,NaN,Rural/Urban,Urban,10746.0,8240.0,639727.0,2.493993e+07,2.57,NaN,NaN,16569.5,2.59,NaN,NaN
179797,2013,State,78.0,Virgin Islands,NaN,Rural/Urban,Urban,0.0,0.0,0.0,0.000000e+00,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [4]:
cdc_df

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126
4,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
44689,YC,2021,May,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)","1,792",100,0.298805,New York City,Underreported due to incomplete data.,*,"1,864"
44690,YC,2021,May,12 month-ending,Percent with drugs specified,99.2307692307692,100,0.298805,New York City,Underreported due to incomplete data.,*,NaN
44691,YC,2021,May,12 month-ending,Number of Deaths,"62,248",100,0.298805,New York City,Underreported due to incomplete data.,*,NaN
44692,YC,2021,May,12 month-ending,Cocaine (T40.5),962,100,0.298805,New York City,Underreported due to incomplete data.,*,"1,005"
44693,YC,2021,May,12 month-ending,Natural & semi-synthetic opioids (T40.2),469,100,0.298805,New York City,Underreported due to incomplete data.,*,485

In [8]:
cdc_indicator = cdc_df.loc[(cdc_df["Indicator"]=="Number of Drug Overdose Deaths") | (cdc_df["Indicator"]=="Number of Deaths") | (cdc_df["Indicator"]=="Natural & semi-synthetic opioids (T40.2)") | (cdc_df["Indicator"]=="Synthetic opioids, excl. methadone (T40.4)") ]

cdc_indicator

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
2,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126
6,AK,2015,April,12 month-ending,Number of Deaths,"4,133",100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
9,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
15,AK,2015,August,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
44681,YC,2021,March,12 month-ending,Number of Drug Overdose Deaths,"2,295",100,0.131235,New York City,Underreported due to incomplete data.,*,"2,324"
44688,YC,2021,May,12 month-ending,Number of Drug Overdose Deaths,"2,340",100,0.298805,New York City,Underreported due to incomplete data.,*,"2,420"
44689,YC,2021,May,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)","1,792",100,0.298805,New York City,Underreported due to incomplete data.,*,"1,864"
44691,YC,2021,May,12 month-ending,Number of Deaths,"62,248",100,0.298805,New York City,Underreported due to incomplete data.,*,NaN
44693,YC,2021,May,12 month-ending,Natural & semi-synthetic opioids (T40.2),469,100,0.298805,New York City,Underreported due to incomplete data.,*,485

In [9]:
insurance = pd.merge(care_clean, caid_clean, how = "outer")
insurance

,Year,Prscrbr_Geo_Lvl,Prscrbr_Geo_Cd,Prscrbr_Geo_Desc,RUCA_Cd,Breakout_Type,Breakout,Tot_Prscrbrs,Tot_Opioid_Prscrbrs,Tot_Opioid_Clms,...,Opioid_Prscrbng_Rate_5Y_Chg,Opioid_Prscrbng_Rate_1Y_Chg,LA_Tot_Opioid_Clms,LA_Opioid_Prscrbng_Rate,LA_Opioid_Prscrbng_Rate_5Y_Chg,LA_Opioid_Prscrbng_Rate_1Y_Chg,Geo_Lvl,Geo_Cd,Geo_Desc,Plan_Type
0,2019,National,NaN,National,NaN,Totals,Overall,1239380.0,803549.0,66138200.0,...,-1.32,-0.27,7290510.0,11.02,-1.73,-0.77,NaN,NaN,NaN,NaN
1,2019,State,1.0,Alabama,NaN,Totals,Overall,15575.0,9739.0,1814583.0,...,-1.40,-0.42,138456.0,7.63,-2.13,-0.73,NaN,NaN,NaN,NaN
2,2019,State,2.0,Alaska,NaN,Totals,Overall,2847.0,1935.0,80311.0,...,-2.01,-0.90,13005.0,16.19,-3.73,-2.42,NaN,NaN,NaN,NaN
3,2019,State,4.0,Arizona,NaN,Totals,Overall,25876.0,16578.0,1359955.0,...,-1.79,-0.33,184250.0,13.55,-2.58,-1.25,NaN,NaN,NaN,NaN
4,2019,State,5.0,Arkansas,NaN,Totals,Overall,9700.0,7258.0,998319.0,...,-1.08,-0.32,76135.0,7.63,-1.69,-0.93,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,730742.0,...,NaN,NaN,51828.0,7.09,NaN,NaN,State,51.0,Virginia,All
1543,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,620072.0,...,NaN,NaN,69150.0,11.15,NaN,NaN,State,53.0,Washington,All
1544,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,401118.0,...,NaN,NaN,22227.0,5.54,NaN,NaN,State,54.0,West Virginia,All
1545,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,899000.0,...,NaN,NaN,120342.0,13.39,NaN,NaN,State,55.0,Wisconsin,All
1546,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41202.0,...,NaN,NaN,4230.0,10.27,NaN,NaN,State,56.0,Wyoming,All

In [12]:
data = pd.merge(cdc_indicator, insurance, how = "outer")

data.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,...,Opioid_Prscrbng_Rate_5Y_Chg,Opioid_Prscrbng_Rate_1Y_Chg,LA_Tot_Opioid_Clms,LA_Opioid_Prscrbng_Rate,LA_Opioid_Prscrbng_Rate_5Y_Chg,LA_Opioid_Prscrbng_Rate_1Y_Chg,Geo_Lvl,Geo_Cd,Geo_Desc,Plan_Type
0,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,...,NaN,-0.23,10428844.0,13.12,NaN,0.37,NaN,NaN,NaN,NaN
1,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,...,NaN,-0.33,222106.0,10.19,NaN,0.43,NaN,NaN,NaN,NaN
2,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,...,NaN,-0.10,18217.0,19.96,NaN,0.04,NaN,NaN,NaN,NaN
3,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,...,NaN,-0.22,273981.0,16.53,NaN,0.40,NaN,NaN,NaN,NaN
4,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,...,NaN,-0.27,112540.0,9.91,NaN,0.59,NaN,NaN,NaN,NaN